* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: border-box;
}

body {
  width: screen;
  background-color: aliceblue;
}

.navbar {
  width: screen;
  height: 110px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  margin-right: 2%;
}

.logo {
  width: 200px;
  color: #9007a2;
  font-size: 50px;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px 10px 5%;
}

#searchbar {
  width: 370px;
  height: 35px;
  border-radius: 20px;
  padding-left: 15px;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin: 0 35px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: #9007a2;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

button {
  width: 100px;
  text-transform: uppercase;

  padding: 15px 0;
  border-radius: 25px;
  margin: 20px 10px;
  border: 2px solid #9007a2;
  font-weight: bolder;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

span {
  background: #9007a2;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.MainBody {
  box-sizing: border-box;
}

.header1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #32012f;
  font-weight: bolder;
  font-family: unset;
  padding: 20px 0 20px 0;
}

h1 {
  font-size: 45px;
}

.MainBody,
div {
  width: 100%;
}

.CarSet1 {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 40px 0 40px 0;
}

.CarSet1 fig {
  margin: 0 20px 0 20px;
}

figcaption {
  padding: auto;
  font-size: large;
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
}

.Heroimg {
  object-fit: cover;
  width: 100%;
  height: 10%;
}

/* footer */

Footer {
  height: 300px;
  width: 100%;
}
.FootPanel-1 {
  height: 50px;
  width: 100%;
  background-color: rgb(97, 96, 96);

  color: white;
  text-align: center;
  padding-top: 30px;
}
.FootPanel-1 a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.FootPanel-2 {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
  float: right;
}
#check {
  display: none;
}
/*---------------------- media query -------------------------*/

@media screen and (max-width: 952px) {
  h1 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .navbar {
    width: 100%;
    height: 100px;
    overflow-x: hidden;
  }
  .logo {
    width: 100px;

    font-size: 29px;
    line-height: 40px;
  }

  #searchbar {
    width: 200px;
    height: 25px;
  }
  .navbar ul li {
    display: inline;
    margin: 0 10px;
    position: unset;
    font-size: 13px;
  }

  .navbar ul li::after {
    transition: none;
    content: "";
    height: 0%;
  }

  a:hover {
    background-color: #918792;
  }

  button {
    width: auto;
    border-radius: 0%;
    font-size: 18px;
    text-align: center;
  }

  span {
    background: #9007a2;
    height: 18px;
    width: auto;
    border-radius: 0%;

    .MainBody {
      width: fit-content;
    }
    .Heroimg {
      object-fit: cover;
      width: 100%;
      height: 10%;
    }

    h1 {
      height: 50px;
      font-size: 25px;
      font-family: unset;
      padding-top: 80px;
      line-height: 35px;
    }

    img .Heroimg {
      object-fit: cover;
      width: 100%;
      height: 10%;
    }

    img:hover {
      background-color: #e2dfd0;
      border-radius: 10px;
    }

    /* footer */

    Footer {
      height: 120px;
      width: 100%;
    }
    .FootPanel-1 {
      height: 40px;
      width: 100%;
    }

    .FootPanel-2 {
      height: 100px;
      width: 100%;
    }
  }
}

@media (max-width: 1383px) {
  .checkbtn {
    size: 30px;
    padding: 15px;

    display: block;
  }

  .navbar ul {
    position: fixed;
    width: 100%;
    background-color: #7a407a;
    top: 80px;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .navbar ul li a {
    font-size: 17px;
    font-weight: bold;
  }
  button {
    text-decoration: none;
    border-radius: 0;
    display: none;
  }

  a:hover,
  a.active {
    background-color: none;

    color: #918792;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
